<div class="container">
  <h5>Name: <%= @project.name() %></h5>

  <form action="/projects/<%= @project.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <div class="form-group">
      <label for="name"><be: </b></label>
      <input id="name" name="name" type="text"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
<br>
  <form action="/projects/<%= @project.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit" class="btn btn-warning">Delete</button>
    </div>
  </form>
<a href="/">Back to Main Page</a>

</div>