<h1>Volunteer Tracker</h1>

<h3><a href="/projects">Look up Projects</a></h3>

<h3>Create a new project:</h3>

<form action="/" method="post">
  <div class="form-group">
    <label for="title">Project title</label>
    <input class="form-control" type="text" name="title" id="title">
  </div>
  <button type="submit" class="btn btn-outline-primary">Create Project</button>
</form>

<div>
  <h3>All Projects</h3>
  <p>Click a project to see volunteers</p>

  <% @projects.each do |project| %>
    <h3><a href="/projects/<%= project.id %>"><%= project.title %></a></h3>
  <% end %>
</div>
